.mainHeader {
    text-align: center;
    background-color: grey;
    padding: 1%;
}

.trainScheduleWrapper {
    /* background-color: blue; */
    text-align: left;
    

}
/* table {
    background-color: grey;
} */

.addTrainWrapper {
    background-color: grey;
    padding: 1%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:lightgray;
}

input {
    width: 100%;
}
